.show-section {
    margin: 50px 0;
    background-color: rgba(211, 211, 211, 0.398);
    padding: 20px;

    .btn {
        text-align: end;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        color: red;
    }
}
